body {
  background-color: #B0E9F0;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 4rem;
  line-height: 2;
  margin-top: 10px;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.mountain {
  width: 50%;
  margin: 0 25%;
  margin-top: -5rem;
}

.cloud {
  width: 10%;
}

.first {
  margin: 1% 10%;
  position: absolute;
}

.second {
  margin-left: 40%;
  margin-top: 5%;
}

.third {
  margin-left: 53%;
  margin-top:-3rem;
}
.programmer-text{
  margin-top: -4rem;
  left: 45vw;
  position: absolute;
  z-index: 10;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.picture-img {
  width: 25%;
  float: left;
  margin: 30px;
}

.code-img {
  width: 25%;
  float: right;
  margin: 30px;
}
